<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" backupGlobals="false" colors="true" stopOnFailure="false" bootstrap="./vendor/autoload.php" cacheDirectory=".phpunit.cache">
  <coverage includeUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <report>
      <clover outputFile="./coverage.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Linio Framework Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
